.wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: cadetblue;
    font-family: "Palatino Linotype";
    color: white;
}

.title{
    color: white;
    width: 100%;
    align-content: center;
}

.all{
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.all h1{
    font-weight: bolder;
}

.form-group{
    display: flex;
    flex-direction: row;
}

#googlemap {
    width: 80%;
    height: 400px;
}